snippet init "main function" b
#include <stdio.h>
#include <stdlib.h>

int main (int argc, char ** argv){
  ${1:code area}
return 0;
}
endsnippet

snippet initpp "main" b
#include <stdlib.h>
#include <iostream>

int main (int argc, char ** argv){
  ${1:Code area}
return 0;
}
endsnippet
