[user]
    email = pl4nk1ton@gmail.com
	name = Yaks Souza
    editor = nvim
	signingkey = 68590DB9E8390F67
[alias]
    cm = commit -m
    fcm = commit --amend -m

    ch = checkout
    br = branch
    rp = remote
    st = status

    ls = log --pretty=format:"%C(blue)%h%Cred%d\\ %Creset%s%C(yellow)\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(blue)%h%Cred%d\\ %Creset%s%C(yellow)\\ %ar\\ [%cn]" --decorate --numstat
[hub]
    host = RoboCopBook
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@github.com:"]
    insteadOf = http://github.com/
[url "https://github.com"]
    insteadOf = .https://github.com
[init]
	defaultBranch = root
